<div class="container marginTop15">
    <div class="card">
        <!--Card content-->
        <div class="card-block">

            <h4 class="card-title text-center">Pièce d'identité</h4>

            {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate': 'novalidate'}}) }}
            {{ form_errors(form) }}


            <div class="col-md-4 text-center marginAuto">
                {{ form_row(form.uploadedFile) }}
                <button type="submit" class="btn btn-outline-primary submitProfile btn-lg btn-block marginTop15">Enregistrer</button>
            </div>

            {{  form_end(form) }}

        </div>
        <!--/.Card content-->
    </div>
</div>