{% extends 'base.html.twig' %}
{% block body %}

    {% block header %}
        <div class="container">
            {% block navbar %}
                <nav class="navbar navbar-toggleable-md navbar-dark blue_bg">
                    <div class="container">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="{{ asset('bundles/app/img/logo1.png') }}"/>
                        </a>
                        <div class="collapse navbar-collapse" id="navbarNav1">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Proposer un trajet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Chercher un trajet</a>
                                </li>
                            </ul>
                            {% block account %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-user"></span> 
                                            <strong>Mon compte</strong>
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu grey_bg">
                                            <li>
                                                <div class="navbar-login ">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <p class="text-center">
                                                                {% block user_img %}<span class="glyphicon glyphicon-user icon-size"></span>{% endblock %}
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <p class="text-left"><strong>Pseudo</strong></p>
                                                            <p class="text-left small">email@email.com</p>
                                                            <p class="text-left">
                                                                <a href="#" class="btn sign btn-outline-primary btn-lg btn-block">Mon profile</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <div class="navbar-login navbar-login-session">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p>
                                                                <a href="{{ path('fos_user_security_logout') }}" class="btn sign btn-outline-primary btn-lg btn-block">Se déconnecter</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            {%  endblock %}
                        </div>
                    </div>
                </nav>

            {% endblock %}
        </div>
    {% endblock %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
        <!--Footer-->
        <footer class="page-footer center-on-small-only">
            <!--Footer Links-->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">

                        <!--First column-->
                        <div class="col-md-4">
                            <h5 class="title">Mon Chaperon</h5>
                            <p>Le Copiétonnage rassurant</p>
                        </div>
                        <!--/.First column-->

                        <!--Second column-->
                        <div class="col-md-3">
                            <h5 class="title">Liens</h5>
                            <ul class="s9menuContainer">
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root1_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr/mon-chaperon-pro" target="_self">Mon Chaperon Pro</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root3_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr" target="_self">Chaperon ou Chaperonné?</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root4_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr" target="_self">Comment ça marche?</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root5_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr/faq" target="_self">FAQ</a></li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root6_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr/actu" target="_self">Actu</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root7_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr" target="_self">Newsletter</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.Second column-->

                        <!--3rd column-->
                        <div class="col-md-2">
                            <h5 class="title">Contact</h5><a href="https://www.monchaperon.fr/contact" target="_self" id="comp-iv0jm8hglink" class="s8link"><span id="comp-iv0jm8hglabel" class="s8label">Contact Us</span></a>
                        </div>
                        <!--/.3rd column-->

                        <!--4th column-->
                        <div class="col-md-3">
                            <h5 class="title">Social</h5>
                            <div id="comp-ioify0mwitemsContainer" class="s7itemsContainer">
                                <div style="width:42px;height:42px;margin-bottom:0;margin-right:7px;display:inline-block;" class="s7imageItem" id="comp-ioify0mw0image">
                                    <a href="https://www.facebook.com/Mon-Chaperon-1788147668086194/?fref=ts" target="_blank"id="comp-ioify0mw0imagelink" class="s7imageItemlink">
                                        <div id="comp-ioify0mw0imageimage" style="position: absolute; width: 42px; height: 42px;" class="s7imageItemimage">
                                            <div class="s7imageItemimagepreloader" id="comp-ioify0mw0imageimagepreloader">

                                            </div>
                                            <img id="comp-ioify0mw0imageimageimage" alt="" src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.png" style="width: 42px; height: 42px; object-fit: cover;"></div>
                                    </a>
                                </div>

                                <div style="width:42px;height:42px;margin-bottom:0;margin-right:7px;display:inline-block;" class="s7imageItem" id="comp-ioify0mw1image">
                                    <a href="https://www.instagram.com/mon_chaperon" target="_blank" class="s7imageItemlink">
                                        <div id="comp-ioify0mw1imageimage" style="position: absolute; width: 42px; height: 42px;" class="s7imageItemimage"><div class="s7imageItemimagepreloader" id="comp-ioify0mw1imageimagepreloader"></div>
                                            <img id="comp-ioify0mw1imageimageimage" alt="" src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.png" style="width: 42px; height: 42px; object-fit: cover;"></div>
                                    </a>
                                </div>
                                <div style="width:42px;height:42px;margin-bottom:0;margin-right:7px;display:inline-block;" class="s7imageItem" id="comp-ioify0mw2image">
                                    <a href="https://twitter.com/Mon_Chaperon?lang=fr" target="_blank" id="comp-ioify0mw2imagelink" class="s7imageItemlink">
                                        <div id="comp-ioify0mw2imageimage" style="position: absolute; width: 42px; height: 42px;" data-style="position:absolute" class="s7imageItemimage">
                                            <div class="s7imageItemimagepreloader" id="comp-ioify0mw2imageimagepreloader">

                                            </div>
                                            <img id="comp-ioify0mw2imageimageimage" alt="" src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/c4392d634a0148fda8b7b2b0ad98293b.png" style="width: 42px; height: 42px; object-fit: cover;">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--/.4th column-->
                    </div>
                </div>
            </div>
            <!--/.Footer Links-->

        </footer>
        <!--/.Footer-->
    {% endblock %}
{% endblock %}
