{% extends 'base.html.twig' %}
{% block body %}

    {% block header %}
        <div class="container">
            {% block navbar %}
                <nav class="navbar navbar-toggleable-md navbar-dark blue_bg">
                    <div class="container">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="{{ asset('bundles/app/img/logo.png') }}"/>
                        </a>
                        <div class="collapse navbar-collapse" id="navbarNav1">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Proposer un trajet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">Chercher un trajet</a>
                                </li>
                            </ul>
                            <form class="form-inline waves-effect waves-light">
                                {% block account %}
                                    {% if true %}
                                        <ul class="navbar-nav mr-auto">
                                            <li class="nav-item">
                                                <a href="{{ path('homepage') }}" class="nav-link">Se connecter</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{{ path('homepage') }}" class="nav-link">S'inscrire</a>
                                            </li>
                                        </ul>
                                    {% else %}
                                    {% endif %}
                                {%  endblock %}
                            </form>
                        </div>
                    </div>
                </nav>

            {% endblock %}
        </div>
    {% endblock %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
        <!--Footer-->
        <footer class="page-footer orange_bg center-on-small-only">
            <!--Footer Links-->
            <div class="container-fluid">
                <div class="container">
                    <div class="row">

                        <!--First column-->
                        <div class="col-md-4">
                            <h5 class="title">Mon Chaperon</h5>
                            <p>Le Copiétonnage rassurant</p>
                        </div>
                        <!--/.First column-->

                        <!--Second column-->
                        <div class="col-md-3">
                            <h5 class="title">Liens</h5>
                            <ul class="s9menuContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0">
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root1_" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root1_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr/mon-chaperon-pro" target="_self" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root1_.0">Mon Chaperon Pro</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root3_" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root3_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr" target="_self" data-keep-roots="true" data-anchor="dataItem-ioig1pcs" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root3_.0">Chaperon ou Chaperonné?</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root4_" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root4_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr" target="_self" data-keep-roots="true" data-anchor="dataItem-ioig0sqg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root4_.0">Comment ça marche?</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root5_" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root5_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr/faq" target="_self" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root5_.0">FAQ</a></li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root6_" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root6_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr/actu" target="_self" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root6_.0">Actu</a>
                                </li>
                                <li class="s9_item s9_itemWrapper " style="height:20px;" id="root7_" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root7_">
                                    <a class=" s9_label level0" style="line-height: 22px;" href="https://www.monchaperon.fr" target="_self" data-keep-roots="true" data-anchor="dataItem-ioig2oa8" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioigobf8.0.$root7_.0">Newsletter</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.Second column-->

                        <!--3rd column-->
                        <div class="col-md-2">
                            <h5 class="title">Contact</h5><a href="https://www.monchaperon.fr/contact" target="_self" id="comp-iv0jm8hglink" class="s8link" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-iv0jm8hg.1"><span id="comp-iv0jm8hglabel" class="s8label" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-iv0jm8hg.1.0">Contact Us</span></a>
                        </div>
                        <!--/.3rd column-->

                        <!--4th column-->
                        <div class="col-md-3">
                            <h5 class="title">Social</h5>
                            <div id="comp-ioify0mwitemsContainer" class="s7itemsContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0"><div style="width:42px;height:42px;margin-bottom:0;margin-right:7px;display:inline-block;" class="s7imageItem" id="comp-ioify0mw0image" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.0"><a href="https://www.facebook.com/Mon-Chaperon-1788147668086194/?fref=ts" target="_blank" data-content="https://www.facebook.com/Mon-Chaperon-1788147668086194/?fref=ts" data-type="external" id="comp-ioify0mw0imagelink" class="s7imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.0.0"><div id="comp-ioify0mw0imageimage" style="position: absolute; width: 42px; height: 42px;" data-style="position:absolute" class="s7imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.0.0.0"><div class="s7imageItemimagepreloader" id="comp-ioify0mw0imageimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.0.0.0.0"></div><img id="comp-ioify0mw0imageimageimage" alt="" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.0.0.0.$image" src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.png" style="width: 42px; height: 42px; object-fit: cover;"></div></a></div><div style="width:42px;height:42px;margin-bottom:0;margin-right:7px;display:inline-block;" class="s7imageItem" id="comp-ioify0mw1image" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.1"><a href="https://www.instagram.com/mon_chaperon" target="_blank" data-content="https://www.instagram.com/mon_chaperon" data-type="external" id="comp-ioify0mw1imagelink" class="s7imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.1.0"><div id="comp-ioify0mw1imageimage" style="position: absolute; width: 42px; height: 42px;" data-style="position:absolute" class="s7imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.1.0.0"><div class="s7imageItemimagepreloader" id="comp-ioify0mw1imageimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.1.0.0.0"></div><img id="comp-ioify0mw1imageimageimage" alt="" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.1.0.0.$image" src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/81af6121f84c41a5b4391d7d37fce12a.png" style="width: 42px; height: 42px; object-fit: cover;"></div></a></div><div style="width:42px;height:42px;margin-bottom:0;margin-right:7px;display:inline-block;" class="s7imageItem" id="comp-ioify0mw2image" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.2"><a href="https://twitter.com/Mon_Chaperon?lang=fr" target="_blank" data-content="https://twitter.com/Mon_Chaperon?lang=fr" data-type="external" id="comp-ioify0mw2imagelink" class="s7imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.2.0"><div id="comp-ioify0mw2imageimage" style="position: absolute; width: 42px; height: 42px;" data-style="position:absolute" class="s7imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.2.0.0"><div class="s7imageItemimagepreloader" id="comp-ioify0mw2imageimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.2.0.0.0"></div><img id="comp-ioify0mw2imageimageimage" alt="" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.1.1.$comp-ioifk0c2.1.$mediairkbbite1/=1$mediairkbbite1.1.$comp-ioify0mw.0.2.0.0.$image" src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_42,h_42,al_c,usm_0.66_1.00_0.01/c4392d634a0148fda8b7b2b0ad98293b.png" style="width: 42px; height: 42px; object-fit: cover;"></div></a></div></div>
                        </div>
                        <!--/.4th column-->
                    </div>
                </div>
            </div>
            <!--/.Footer Links-->

        </footer>
        <!--/.Footer-->
    {% endblock %}
{% endblock %}
