{% extends 'layout.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/app/js/google_autocomplete.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-TozRWtnMZroNu6HOGostbH4RVwIhLj4&libraries=places&callback=initAutocomplete"
                async defer></script>
    {% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/index.css') }}">
{% endblock %}

{% block content %}

    <div class="row spacing"></div>

    <div id="map"></div>

    <div class="row spacing"></div>

    <div class="row">
        <div class="col-md-6">
            <input type="text" id="startAddress"
                   onFocus="geolocate()" class="form-control">
            <label class="search_label" for="startAddress">Adresse de Départ</label>
            <input type="hidden" id="startCity">
            <input type="hidden" id="startPostalCode">
            <input type="hidden" id="startLongitude">
            <input type="hidden" id="startLatitude">
        </div><div class="col-md-6">
            <input type="text" id="finishAddress"
                   onFocus="geolocate()" class="form-control">
            <label class="search_label" for="finishAddress">Adresse d'Arrivée</label>
            <input type="hidden" id="finishCity">
            <input type="hidden" id="finishPostalCode">
            <input type="hidden" id="finishLongitude">
            <input type="hidden" id="finishLatitude">
        </div>
    </div>

    <div class="row spacing"></div>

    <div class="row">
        <div class="col-md-2"></div>
        <label class="col-md-3 search_label" for="date">Date du trajet</label>
        <div class="col-md-5">
            <input type="date" id="date">
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
        </div><div class="col-md-4">
            <button type="submit" class="btn btn-default btn-sm">Rechercher un trajet</button>
        </div><div class="col-md-4">
        </div>
    </div>

{% endblock %}