{% extends 'layout.html.twig' %}

{% block content %}
    <div class="md-form col-md-4">
        <input type="text" id="startAddress" class="form-control">
        <label for="startAddress">Adresse de Départ</label>
    </div>
    <div class="md-form col-md-4">
        <input type="text" id="finishAddress" class="form-control">
        <label for="finishAddress">Adresse d'Arrivée</label>
    </div>

    <div class="text-center">
        <button type="submit" class="btn sign btn-outline-primary btn-lg btn-block">Rechercher un trajet</button>
    </div>
{% endblock %}