{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-centered">
                <!--Naked Form-->
                <div class="card-block">
                    <!--Header-->
                    <div class="text-center">
                        <a href="{{ path('fos_user_security_login') }}">
                            <img src="{{ asset('bundles/app/img/logo.png') }}"/>
                        </a>
                    </div>
                    {% block fos_user_content '' %}
                    <!--Footer-->
                    <div class="modal-footer"></div>
                    <!--Naked Form-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}