.blue_bg {
    background-color: rgb(102, 193, 191);
}

.grey_bg {
    background-color: rgb(62, 69, 81);
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}