html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f9f9f9;
}

.blue_bg {
    background-color: rgb(102, 193, 191);
}

.grey_bg {
    background-color: rgb(62, 69, 81);
}

/*** NAVBAR ***/
.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0;
}

.btn-profil {
    display: inline-flex;
}

.navbar-brand img {
    height: 42px;
}

.spacing {
    height: 50px;
}

.navatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/*** FOOTER ***/

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: inherit!important;
}

body {
    height: inherit !important;
    margin-bottom: 242px;
    position: initial;
}

footer.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(102, 193, 191);
    height: 242px;
}

.logofacebook:hover {
    color: #3b5998;
}

.logotwitter:hover {
    color: #4099FF;
}

.logoinstagram:hover {
    color: #8a3ab9;
}