
/*Tabs*/

.profileClass ul{
    background-color: #217D7A;
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    z-index: 2;
    position: relative;
}
.profileClass ul li{
    padding: 0;
}

.tab-content{
    padding: 2rem 1rem 1rem;
    z-index: 1;
}

.nav-tabs .nav-item{
    margin:0;
}

.nav-tabs .nav-link:hover {
    border-color: #217D7A;
}

.nav-tabs .nav-link.active{
    background-color: #66c1Be;
    color: #fff;
    border-color: #66c1Be;
}

.profileClass .nav a, .nav a:hover{
    color: #fff;
}

.greyaaa{
    color: #aaaaaa;
}

.greenValid{
    color: #2C9227;
}

.redNonValid{
    color: #A52C2F;
}

.yellowInProgress{
    color: #BFA87C;
}

.underline{
    text-decoration: underline;
}

.profileClass .paddingBottom0{
    padding-bottom: 0!important;
}


/*content profil*/

.profileClass .rounded-image{
    object-fit: cover;
}

.profileClass .alignItemCenter{
    display: flex;
    align-items: center;
}

.profileClass .alignItemTop{
    display: flex;
}

.profileClass .fa{
    margin-right: 10px;
}

.noPaddingRight{
    padding-right: 0 !important;
}

.btnEditProfil{
    position: absolute;
    right:15px;
}

.btnEditProfil .fa{
    color: #292b2c;
    transform: scale(1.5,1.5);
}

.marginRight10{
    margin-right: 10px;
}

/*Edit Profil*/

.marginTop15{
    margin-top: 15px;
}

.profileClass .md-form label, .md-form i, .tw {
    color: rgba(0,0,0,.46);
}

.birthdayEdit select{
    margin-right: 10px;
}

.birthdayEdit #fos_user_profile_form_birthday_year{
    margin-right: 0px;
}

.profileClass textarea{
    height: 10rem;
}

.submitProfile, .submitProfile:hover, .editAvatarButton, .editAvatarButton:hover{
    border-color: rgb(102, 193, 191);
    color: rgb(102, 193, 191) !important;
}

.marginAuto{
    margin:0 auto;
}

.editAvatarButton {
    margin: 10px 0;
}
/*facebook friends block */
.friend-block{
    align-items: center;
}

/*Onglet Trajet*/
.card img{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 40px;
}

.arrowNoMargin{
    margin-right: 0px!important;
}

/* modal address_form */
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
/* btn delete address */
i.fa.fa-trash.btnDeleteAddress{
    color:#A52c2F;
    transform: scale(1.5,1.5);
}
/* btn edit address */
i.fa.fa-pencil-square-o.btnEditAddress{
    color:#2C9227;
    transform: scale(1.5,1.5);
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}​


