
/*Tabs*/

.profileClass ul{
    background-color: #217D7A;
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    z-index: 2;
    position: relative;
}
.profileClass ul li{
    padding: 0;
}

.tab-content{
    padding: 2rem 1rem 1rem;
    z-index: 1;
    background-color: #fff;
}

.nav-tabs .nav-item{
    margin:0;
}

.nav-tabs .nav-link:hover {
    border-color: #217D7A;
}

.nav-tabs .nav-link.active{
    background-color: #66c1Be;
    color: #fff;
    border-color: #66c1Be;
}

.profileClass a, a:hover{
    color: #fff;
}

/*content profil*/

.profileClass .rounded-image{
    object-fit: cover;
}

.profileClass .alignItemCenter{
    display: flex;
    align-items: center;
}

.profileClass .alignItemTop{
    display: flex;
}

.noPaddingRight{
    padding-right: 0 !important;
}



/*Edit Profil*/

.marginTop15{
    margin-top: 15px;
}

.profileClass .md-form label, .md-form i, .tw {
    color: rgba(0,0,0,.46);
}

.birthdayEdit select{
    margin-right: 10px;
}

.birthdayEdit #fos_user_profile_form_birthday_year{
    margin-right: 0px;
}

.profileClass textarea{
    height: 8.4rem;
}

.submitProfile, .submitProfile:hover{
    border-color: rgb(102, 193, 191);
    color: rgb(102, 193, 191) !important;
}

.marginAuto{
    margin:0 auto;
}